<h1><%= @article.title %> </h1>
<h3><%= @article.sub_title%></h3>
<p><%= @article.details %></p>
<p>Author: <%= @article.user.name %></p>
<%= link_to "View articles", articles_path %>
<% if current_user && @article.user == current_user %>
  <%= link_to "Edit article", edit_article_path(@article) %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you certain you want to delete this article?' } %>
<% end %>